@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Gill Sans MT;
}
#wrapper{
	width: 1000px;
	margin: 0px auto;
}
.header{
	background-color: white;
	width: 100%;
}
.menu{
	position: absolute;
	height: 60px;
	color: white;
	width: 800px;
	margin-left: 200px;
	float: left;
	background-color: rgba(0,0,0,0.4);
}
.menu ul{
	list-style: none;
	float: left;
}
.menu ul li{
	float: left;
	margin: 15px 25px;
	font-size: 20px;
	position: relative;
}
.menu a{
	text-decoration: none;
	color: white;
}
.menu ul li ul{
	position: absolute;
	margin-left: -25px;
	visibility: hidden;
	font-size: 15px;
	width: 200px;
	border-radius: 30px;
	margin-top: 24px;
}
.menu ul li:hover ul{
	visibility: visible;
	background-color: rgba(100,100,100,0.65);
}
.main{
	width: 100%;
	background-color: white;
	padding-top: 30px;
}
.mainfirst{
	height: 500px;
	width: 1000px;
}
.left{
	width: 500px;
	height: 300px;
	background-color: antiquewhite;
	float: left;
}
.leftbox{
	width: 400px;
	margin-left: 50px;
	height: 200px;
	padding-top: 50px;
}
.leftbox h1{
	padding-top: 60px;
	margin-bottom: 10px;
	font-size: 57px;
}
.leftbox p{
	margin-bottom: 10px
}
.leftbox h3{
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: darkolivegreen;
	width: 150px;
	color: white;
	border-radius: 30px;
}
.right{
	width: 500px;
	height: 300px;
	background-color: antiquewhite;
	float: left;
}
.slider{
	overflow: hidden;
}
.slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
.slider figure img{
	width: 20%;
	float: left;
}
@keyframes slider{
	0%{
		left: 0;
	}
	20%{
		left: 0;
	}
	25%{
		left: -100%;
	}
	45%{
		left: -100%;
	}
	50%{
		left: -200%;
	}
	70%{
		left: -200%;
	}
	75%{
		left: -300%;
	}
	95%{
		left: -300%;
	}
	100%{
		left: -400%;
	}
}
.GetIt{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
.frame{
	width: 700px;
	padding-left: 220px;
}
.GetIt img{
	margin: 15px;
	border-radius: 30px;
}
.GetIt h1{
	text-align: center;
	color: goldenrod;
}
.leftbox h3 a{
	text-decoration: none;
	color: white;
}
.belowbox{
	width: 155px;
	height: 30px;
	margin: 0px 30px 25px;
	background-color: antiquewhite;
	float: left
}
.best{
	width: 100%;
}
.best h1{
	text-align: center;
	padding-top: 20px;
}
.bestframe{
	width: 700px;
	margin: 5px 180px;
}
.bestframe img{
	margin: 30px 30px 5px;
}
.belowframe{
	width: 660px;
	margin: 0px 180px 25px;
}
.box{
	width: 155px;
	margin: 0px 30px 25px;
	float: left;
}
.box p{
	font-size: 15px;
	margin: 5px;
	padding-left: 5px;
}
.box h4{
	padding-top: 5px;
	font-size: 17px;
	margin: 5px;
	padding-left: 5px;
}
.plants{
	width: 100%;
	padding-top: 90px
}
.plantsc{
	position: absolute;
	height: 300px;
	width: 400px;
	float: left;
	padding-top: 100px;
	padding-left: 50px;
}
.plantsc h1{
	margin-bottom: 10px;
	font-size: 50px;
	color: white;
}
.plantsc p{
	margin-bottom: 20px;
	color: white;
}
.plantsc h4{
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	background-color: darkolivegreen;
	width: 150px;
	color: white;
	border-radius: 30px;
}
.plantsc h4 a{
	text-decoration: none;
	color: white;
}
.bottom{
	width: 100%;
	padding-top: 30px;
}
.bottom h2{
	text-align: center;
	color: goldenrod;
}
.bottom p{
	text-align: center;
}
.bottombox{
	width: 780px;
	margin: 30px 100px;
}
.slide{
	overflow: hidden;
}
.slide figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
.slide figure img{
	width: 20%;
	float: left;
}
@keyframes slider{
	0%{
		left: 0;
	}
	20%{
		left: 0;
	}
	25%{
		left: -100%;
	}
	45%{
		left: -100%;
	}
	50%{
		left: -200%;
	}
	70%{
		left: -200%;
	}
	75%{
		left: -300%;
	}
	95%{
		left: -300%;
	}
	100%{
		left: -400%;
	}
}
.boxleft{
	width: 599px;
	height: 100%;
	float: left;
}
.boxright{
	background-color: aqua;
	width: 180px;
	height: 100%;
	float: left;
}
.enter{
	background-color: lightgray;
	height: 230px;
	width: 100%;
}
.enterbox{
	height: 30px;
	width: 500px;
	margin-left: 50px;
	padding-top: 20px;
}
.entermail{
	height: 40px;
	width: 700px;
	margin-left: 50px;
	margin-top: 10px;
	background-color: white;
	border-radius: 20px;
}
.entermail p{
	padding-left: 10px;
	padding-top: 10px;
}
.entersign{
	height: 30px;
	width: 100px;
}
.entersign h4{
	height: 30px;
	width: 90px;
	text-align: center;
	margin-left: 50px;
	margin-top: 10px;
	background-color: darkolivegreen;
	border-radius: 20px;
	padding-top: 10px;
	color: white;
}
.entersign h4 a{
	text-decoration: none;
	color: white;
}
.footer{
	width: 100%;
}
.Info{
	position: absolute;
	height: 100px;
	color: white;
	width: 800px;
	margin-left: 200px;
	float: left;
}
.Infobox{
	width: 210px;
	height: 100px;
	position: relative;
	float: left;
	margin: 20px 20px 20px 20px;
	padding-top:30px
}
.Infobox h3{
	padding-top: 10px;
	padding-bottom: 10px;
	border: 2px #D9A215 solid;
	border-radius: 30px;
	text-align: center;
}
.Infobox p{
	padding-top: 20px;
	padding-left: 20px;
}